<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/debate.css"/>

</head>
<body>

   <div class="container">

   
  <div class="jumbotron text-center">
    <h1><center><span class="fa fa-users"></span>Debate Central</center></h1>

      <p>Debate at your own risk</p>

    <a href="/createThread" class="btn btn-success"><span class="fa fa-user"></span> Create Thread</a>
     <a href="/viewthread" class="btn btn-success"><span class="fa fa-user"></span>View Threads</a>
      <a href="/homepage" class="btn btn-success"><span class="fa fa-user"></span>Return to Home Page</a>

  </div>

</div>
    <center><img src="views/debate.jpg" alt="Nba pic" style="width:800px;height:700px;"></center>
</body>    

       
</div>
</body>
</html>