<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/login.css"/>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1 style="color:#0066CC"><center><span class="fa fa-sign-in"></span> Login to Social NBA</center></h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label style="color:#0066CC"><font size="5"<bold>Email</bold></font></label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label style="color:#0066CC"><font size="5"<bold>Password</bold></font></label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<font size="4"<p><strong>Already have an account? <a href="/login" style="color:#0066CC">Login</a></strong></p></font>
	<font size="4"<p><strong>Or go <a href="/signup" style="color:#0066CC">Signup </a>.</strong></p></font>

	<div class="text-center">
		<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
		<p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
	</div>
	

</div>
</div>
</body>
</html>