<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/profile.css"/>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <h1>Personal Information</h1>

    <form action="profile-info" id="usrform"  enctype =  "multipart/form-data" method="POST">
        <font size="4"><strong>Name: </strong></font><br>
        <input id="name"type="text" name="firstname" value="Enter Name">
        <br />
        <div class="form-group">
            <label for="age"> <font size="4"><strong>Age</strong></font></label>
            <select data-style="btn-primary" id="age" name="age" class="form-control" >
                <option>None</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
                <option>32</option>
                <option>33</option>
                <option>34</option>
                <option>35</option>
                <option>36</option>
                <option>37</option>
                <option>38</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
                <option>45</option>
                <option>46</option>
                <option>47</option>
                <option>48</option>
                <option>49</option>
                <option>50</option>
                <option>51</option>
                <option>52</option>
                <option>53</option>
                <option>54</option>
                <option>55</option>
                <option>56</option>
                <option>57</option>
                <option>58</option>
                <option>59</option>
                <option>60</option>
                <option>61</option>
                <option>62</option>
                <option>63</option>
                <option>64</option>
                <option>65</option>
                <option>66</option>
                <option>67</option>
                <option>68</option>
                <option>69</option>
                <option>70</option>
                <option>71</option>
                <option>72</option>
                <option>73</option>
                <option>74</option>
                <option>75</option>
                <option>76</option>
                <option>77</option>
                <option>78</option>
                <option>79</option>
                <option>80</option>
                <option>77</option>
                <option>78</option>
                <option>79</option>
                <option>80</option>
                <option>81</option>
                <option>82</option>
                <option>83</option>
                <option>84</option>
                <option>85</option>
                <option>86</option>
                <option>87</option>
                <option>88</option>
                <option>89</option>
                <option>90</option>
                <option>91</option>
                <option>92</option>
                <option>93</option>
                <option>94</option>
                <option>95</option>
                <option>96</option>
                <option>97</option>
                <option>98</option>
                <option>99</option>
            </select>
        </div>
        <div class="form-group">
         <label for="team"><font size="4"><strong>Choose an NBA TEAM</strong></font></label>
            <select id="team" name="team" class="form-control">
                <option>None</option>
                <option>Atlanta Hawks</option>
                <option>Boston Celtics</option>
                <option>Brookyln Nets</option>
                <option>Charlotte Hornets</option>
                <option>Chicago Bulls</option>
                <option>Cleveland Cavaliers</option>
                <option>Dallas Mavericks</option>
                <option>Denver Nuggets</option>
                <option>Detroit Pistons</option>
                <option>Golden State Warriors</option>
                <option>Houston Rockets</option>
                <option>Indiana Pacers</option>
                <option>Los Angeles Clippers</option>
                <option>Los Angeles Lakers </option>
                <option>Memphis Grizzlies</option>
                <option>Milwaukee Bucks</option>
                <option>Minnesota Timberwolves</option>
                <option>New Orleans Pelicans </option>
                <option>New York Knicks</option>
                <option>Oklahoma City Thunder</option>
                <option>Orlando Magic</option>
                <option>Philadelphia 76ers/option>
                <option>Phoenix Suns</option>
                <option>Portland Trailblazers</option>
                <option>Sacramento Kings</option>
                <option>San Antonio Spurs</option>
                <option>Toronto Raptors</option>
                <option>Utah Jazz</option>
                <option>Washington Wizards</option>
            </select>           
        </div>

        <div>
        <label for="bio"><font size="4"><strong>Something About Yourself</strong></font></label>
        <textarea rows="4" name="bio" form="usrform">Enter text here...</textarea>
         
         <br />

         <label for="bio"><font size="4"><strong>Upload a Profile Pic</strong></font></label> 

     
        <input type="file" name="pic" accept="image/*">

        <br />
       <input type="submit" value="Submit" name="submit">

        </div>
    </form>
     <br />
    <a href="/homepage"><font size="4"><strong>Go To Home Page</strong></font></a>

     <!--<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/profile-info"
     method    =  "post"
>
<input type="file" name="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>-->


       
</div>
</body>
</html>